/* div{
            background-color: blueviolet;
        } */
/* Class Selector   */
.voilet {
  background-color: blueviolet;
}

/* Id Selector  */
#green {
  background-color: aquamarine;
}

/* Clild Selectors   */

div > p {
  color: cornsilk;
  background-color: crimson;
}

/* Decendent Selector   */
div p {
  color: cornsilk;
  background-color: crimson;
}

/* Universal Seletors  */
* {
  margin: 0;
  padding: 0;
}

/* Pseudo Selector   */
a:visited {
  color: deeppink;
}

a:hover {
  color: rgb(240, 218, 15);
}

a:active {
  color: brown;
}
